* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
    border-bottom: 1px solid black;
    text-align: center;
  }
  
  main{
    text-align: center;
    left: 25%;
    width: 800px;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    position: fixed;
    right: 2px;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 10%;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }

  button:active{
    background-color: white;
    color: black;
  }

  aside:has(button:active){
    background-color: black;
    color: white;
  }